body {
    margin: 0;
    padding: 0;
}

table {
    margin: 0 auto;
}

#title-message {
    text-align: center;
}

.info {
    text-align: center;
}

.cell {
    height: 15px;
    width: 15px;
    border: 1px solid #b8e6c9;
    background-color: #4ce68e;
}

.snake {
    height: 15px;
    width: 15px;
    border: 1px solid #b8e6c9;
    background-color: slategray;
}

.item {
    height: 15px;
    width: 15px;
    border: 1px solid #b8e6c9;
    background-color: pink;
}